.post-img {
    width: 100%;
    border-bottom: 1px solid gold;
}

.blog-post-card {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}
.post-content {
    padding: 50px;
}
.post-title {
    color: rgb(8, 7, 0);
    margin: 5px;
}
.post-excerpt {
    color: rgb(25, 24, 2);
    margin-bottom: 30px;
}
.read-more {
    color: yellow;
    background-color: crimson;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

.read-more:hover {
    background-color: cornflowerblue;
}